*.o
*.gcda
*.gcno
/*.tar.xz
/*.md5sum
.deps/
.libs/
/Makefile
/Makefile.in

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/cov-int
/coverage
/kmod-*.tar.*
/libtool
/stamp-h1
/test-suite.log

*~
.*.swp
cscope.out
tags
