*.lo
*.la
*.so
/.dirstamp
/test-scratchbuf
/test-strbuf
/test-array
/test-util
/test-blacklist
/test-dependencies
/test-depmod
/test-init
/test-initstate
/test-loaded
/test-modinfo
/test-new-module
/test-testsuite
/test-modprobe
/test-hash
/test-list
/test-tools
/rootfs
/stamp-rootfs
/test-scratchbuf.log
/test-scratchbuf.trs
/test-strbuf.log
/test-strbuf.trs
/test-array.log
/test-array.trs
/test-util.log
/test-util.trs
/test-blacklist.log
/test-blacklist.trs
/test-dependencies.log
/test-dependencies.trs
/test-depmod.log
/test-depmod.trs
/test-init.log
/test-init.trs
/test-initstate.log
/test-initstate.trs
/test-loaded.log
/test-loaded.trs
/test-modinfo.log
/test-modinfo.trs
/test-modprobe.log
/test-modprobe.trs
/test-hash.log
/test-hash.trs
/test-new-module.log
/test-new-module.trs
/test-testsuite.log
/test-testsuite.trs
/test-list.log
/test-list.trs
/test-tools.log
/test-tools.trs
