*.lo
*.la
*.so
/.dirstamp
/test-alias
/test-blacklist
/test-dependencies
/test-depmod
/test-init
/test-loaded
/test-modinfo
/test-new-module
/test-testsuite
/test-modprobe
/rootfs
/stamp-rootfs
/test-alias.log
/test-alias.trs
/test-blacklist.log
/test-blacklist.trs
/test-dependencies.log
/test-dependencies.trs
/test-depmod.log
/test-depmod.trs
/test-init.log
/test-init.trs
/test-loaded.log
/test-loaded.trs
/test-modinfo.log
/test-modinfo.trs
/test-modprobe.log
/test-modprobe.trs
/test-new-module.log
/test-new-module.trs
/test-testsuite.log
/test-testsuite.trs
