# SPDX-FileCopyrightText: 2024 Emil Velikov <emil.l.velikov@gmail.com>
# SPDX-FileCopyrightText: 2024 Lucas De Marchi <lucas.de.marchi@gmail.com>
#
# SPDX-License-Identifier: LGPL-2.1-or-later

name: Code Coverage

on:
  push:
    branches: [master, ci-test]
  pull_request:
    branches: [master]
  schedule:
    - cron: "30 2 * * 0"

permissions:
  contents: read

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        container:
          - name: 'ubuntu:24.04'
            meson_setup: '-D b_sanitize=none -D b_coverage=true'

    container:
      image: ${{ matrix.container.name }}

    steps:
      - name: Sparse checkout the local actions
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: .github

      - uses: ./.github/actions/setup-ubuntu
        if: ${{ startsWith(matrix.container.name, 'ubuntu') }}

      - name: Checkout the whole project
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set the environment
        run: |
          # The second checkout above claims to set safe.directory, yet it
          # doesn't quite work. Perhaps our double/sparse checkout is to blame?
          git config --global --add safe.directory '*'

          .github/print-kdir.sh >> "$GITHUB_ENV"

      - name: Build
        run: |
          mkdir build && cd build
          meson setup --native-file ../build-dev.ini ${{ matrix.container.meson_setup }} . ..
          meson compile
          meson test
          ninja coverage-xml

      - name: Upload Coverage
        uses: codecov/codecov-action@13ce06bfc6bbe3ecf90edbbf1bc32fe5978ca1d3 # v5.3.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: build/meson-logs/coverage.xml
